
<!DOCTYPE html>
{% load static %}
<head>
    <title>Sudoku Solver</title>
    <link id="css_choice" rel="stylesheet" href="{% static '/solver/page.css' %}">
    <script defer src="{% static '/solver/input.js' %}"></script>

</head>
<body>
    <table id="table">
        {% for i in num %}
        {% with x=forloop.counter %}
            <tr class="row">
                {% for j in num %}
                {% with y=forloop.counter %}
                    <td class="box" id = "{{ x }}_{{ y }}"></td>
                    {% endwith %}
                {% endfor %}
            </tr>
        {% endwith %}
        {% endfor %}
    </table>
    <table id = "outline">
        <tr class="outline-row">
            <td class="outline-box"></td>
            <td class="outline-box"></td>
            <td class="outline-box"></td>
        </tr>
        <tr class="outline-row">
            <td class="outline-box"></td>
            <td class="outline-box"></td>
            <td class="outline-box"></td>
        </tr>
        <tr class="outline-row">
            <td class="outline-box"></td>
            <td class="outline-box"></td>
            <td class="outline-box"></td>
        </tr>
    </table>
    
    
</body>